@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    direction: rtl;
  }
  body {
    @apply bg-gray-50 text-gray-900;
    font-feature-settings: "tnum" 1;
  }
  * {
    @apply border-gray-200;
  }
}

@layer utilities {
  .nums {
    font-variant-numeric: tabular-nums;
    direction: ltr;
    unicode-bidi: isolate;
    display: inline-block;
  }
}
